.car-details {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    p {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      small {
        font-size: 0.9rem;
        color: #808080;
      }
    }



}
